.tutorial body
{   margin-top: 0%;
    margin-bottom: 0.2% ;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    text-justify: inter-word;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
.tutorial h1{
    text-align: center;
    color:rgb(45, 26, 255);
}
.tutorial h3{
    text-align: left;
    font-size: x-large;
    margin-top: 4%;
    margin-bottom: 1.5%;
    color:rgb(251, 132, 63);

}
.tutorial h4{
    font-weight: normal;
    font-size: larger;
    text-align: left;
    margin-top: 0.5%;
    margin-bottom: 0.1%;
}

.tutorial hr{
    margin-top: 15px;
    color: black;
    display: flex;
    width: 75%;
}
.tutorial p{
    margin-bottom: 0.2%;
}
.tutorial article img{
	border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.tutorial img{
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.tutorial li ol{
    list-style-type: lower-alpha;
}
.tutorial ul li{
    margin-top: 0.2%;
    margin-bottom: 0.2% ;
}

.tutorial li img{
    margin-top: 1%;
    margin-bottom: 1% ;
}
@media only screen and (max-width: 600px) {
    .tutorial article img{
        border-radius: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }   
    .tutorial img{
        border-radius: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}
@media only screen and (max-width: 768px) {
    .tutorial article img{
        border-radius: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        }
        .tutorial img{
        border-radius: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        }
}
.tutorial section a {
    font-size: small;
    margin-top: 0%;
    margin-bottom: 0%;
}