<!doctype html>
<html class="tutorial">

<head>
  <meta charset="UTF-8" />
  <title>Oparzenie</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>


<h1 id="title">Oparzenie</h1>


<hr>
<article>
  <header>
    <h3 id=header1>Co zrobić w przypadku oparzenia?</h3>
    <ol>
      <li>
        <p class="standardList">Upewnij się, że minęło zagrożenie
        </p>
      </li>
      <li>
        <p class="standardList">Wezwij służby ratunkowe
        </p>
      </li>
      <li>
        <p class="standardList">W przypadku oparzenia termicznego:
        </p>
      </li>
      <ul >
        <li ol>
          <p class="standardList">oparzone miejsce należy schłodzić - polewaj chłodną, bieżącą wodą przez
            15-20 min.
          </p>
        </li>
        <li>
          <p class="standardList">po tym czasie uszkodzone miejsce należy zabezpieczyć sterylnym opatrunkiem.
          </p>
        </li>
        <li>
          <p class="standardList">Zabronione jest stosowanie jakichkolwiek maści i leków.
          </p>
        </li>
        <li>
          <p class="standardList">Nie można też ściągać ubrania, jeżeli uległo ono przyklejeniu do skóry.
          </p>
        </li>
        <li>
          <p class="standardList">Osobę, która się pali, trzeba położyć na ziemi i ugasić ogień kocem.
          </p>
        </li>
        <li>
          <p class="standardList">Lekkie oparzenia nie wymagają kontaktu z lekarzem – w każdym innym przypadku
            trzeba niezwłocznie zgłosić się na konsultację.
          </p>
        </li>
      </ul>
      <li>
        <p class="standardList">W przypadku oparzenia chemicznego:
        </p>
      </li>
      <ul>
        <li>
          <p class="standardList">W przypadku oparzenia chemicznego konieczne jest polewanie skóry lub błon
            śluzowych wodą przez 30 minut (zabronione w przypadku tlenku wapnia).
          </p>
        </li>
        <li>
          <p class="standardList">Ranę należy zabezpieczyć opatrunkiem.
          </p>
        </li>
        <li>
          <p class="standardList">Jeżeli pacjent wypił detergent, należy dać mu do picia dużą ilość wody.
          </p>
        </li>
        <li>
          <p class="standardList">Zabronione jest prowokowanie wymiotów.
            Ratownikom medycznym i lekarzowi trzeba udzielić informacji dotyczących środka, który wywołał
            oparzenie.
          </p>
        </li>
      </ul>
      <li>
        <p class="standardList">W przypadku oparzenia elektrycznego:
        </p>
      </li>
      <ul>
        <li>
          <p class="standardList">Działania trzeba zacząć od odcięcia źródła prądu – wcześniej nie można
            zbliżać się do poszkodowanego ani go dotykać.
          </p>
        </li>
        <li>
          <p class="standardList">Ocenić stan chorego i rozpocząć resuscytację krążeniowo-oddechową.
          </p>
        </li>
        <li>
          <p class="standardList">Zawsze trzeba wezwać pogotowie.
          </p>
        </li>
      </ul>

    </ol>
  </header>
</article>
</html>
