<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Pierwsza pomoc - porażenie prądem</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<h1>Pierwsza pomoc - porażenie prądem</h1>
<img src="https://bi.im-g.pl/im/af/97/18/z25785775AMP,Porazenie-pradem.jpg" alt="pierwsza-pomoc" >
<p>
  Objawy występujące przy porażeniu prądem elektrycznym są bardzo charakterystyczne. Przede wszystkim są to skurcze mięśni, silny ból oraz poparzenia skóry. W przypadku cięższych porażeń mogą pojawić się zaburzenia oddychania, a także utrata przytomności. Poszkodowany upada wtedy na ziemię, kurcząc przy tym ręce. W takiej sytuacji osoba porażona nie jest w stanie samodzielnie uwolnić się od źródła prądu elektrycznego.
</p>
<hr>
<article>

  <h1 id=header1 >Postępowanie w razie porażenia prądem</h1>

  <ol>	<!-- Wykaz I poziomu -->
    <li id=punkt1 ><h3>Sprawdzenie otoczenia i zapewnienie bezpieczeństwa</h3>
      <p class="standardList">Zapewnij bezpieczeństwo własne, poszkodowanego i świadków zdarzenia. Jeśli nie ma sytuacji zagrażającej twojemu życiu (np. pożar, ulatniający się gaz) możesz zacząć udzielać pomocy poszkodowanemu. Sprawdź czy nie ma ostrych przedmiotów pod poszkodowanym, które mogą doprowadzić do urazów.</p>
    </li>
    <li id=punkt2 ><h3>Nigdy nie dotykaj osoby porażonej prądem, zanim nie odłączy się jej od źródła prądu!</h3> 	<!-- Bez znacznika zamykającego -->
      <ol>	<!-- Wykaz II poziomu -->
        <li> Odłącz bezpieczniki, wyjmij z gniazdka wtyczkę urządzenia elektrycznego, które spowodowało porażenie.
          <br></br>
          <img src="https://static.zpe.gov.pl/portal/f/res-minimized/R1H48rjWSavUo/1590575770/1uKjlSF68CpiJhxV7RdgAk3rxoWAm4K6.png" alt="pierwsza-pomoc">
        </li>
        <li>Jeśli poziom napięcia jest mniejszy niż 1kV, odsuń kabel elektryczny od poszkodowanego przy użyciu przedmiotu, który nie przewodzi prądu (np. drewnianego kija od szczotki).	<!-- Bez znacznika zamykającego -->
          <br></br>
          <img src="https://static.zpe.gov.pl/portal/f/res-minimized/RVTM8HX5dIqdt/1590575746/nNavlXjBvwdeSxOwfJverqsshN4dnCXK.png" alt="pierwsza-pomoc">
        </li>	<!-- Zamknięcie podpunktu 2.2 -->
      </ol>	<!-- Zamknięcie wykazu II poziomu -->
    </li>	<!-- Zamknięcie Punktu 2 -->
    <li id=punkt3 ><h3>Sprawdź stan poszkodowanego</h3>
      <p>
        Gdy porażony będzie się już znajdował poza zasięgiem elektryczności, należy w pierwszej kolejności sprawdzić jego przytomność oraz oddech i niezwłocznie wezwać karetkę.
      </p>
      <ol>	<!-- Wykaz II poziomu -->
        <li id=punktA ><h4> Jeśli jest przytomny i oddycha</h4>
          <ul>	<!-- Wykaz III poziomu -->
            <li>Zadzwoń na 112, wezwij pogotowie. Zostań z poszkodowanym do czasu przybycia pogotowia i przejęcia opieki nad poszkodowanym. W miarę możliwości zapewnij mu ciepło, okryj kocem, kurtką. Mów do niego, staraj się go uspokoić, ale i sprawić, by nie zasypiał. Zadawaj pytania.</p> </li>
          </ul>	<!-- Zamknięcie wykazu III poziomu -->
        </li>
        <li id=punktB ><h4> Jeśli nie jest przytomny, ale oddycha</h4>	<!-- Bez znacznika zamykającego -->
          <ul>	<!-- Wykaz III poziomu -->
            <li>Udrożnij drogi oddechowe i sprawdź oddech </li>
            <li>Ułóż go w pozycji bocznej ustalonej i wezwij pogotowie ratunkowe 999 lub 112. Regularnie oceniaj oddech.
          </ul>	<!-- Zamknięcie wykazu III poziomu -->
        </li>	<!-- Zamknięcie podpunktu 2.2 -->
        <li id=punktC ><h4> Jeśli brak oddechu lub nie oddycha prawidłowo</h4>
          <ul>	<!-- Wykaz III poziomu -->
            <li>Poproś kogoś innego o wezwanie pogotowia, a sam rozpocznij resuscytację. Nie przerywaj jej pod żadnym pozorem, aż do odzyskania oddechu lub przybycia Pogotowia Ratunkowego.  Masaż serca jest KONIECZNYM warunkiem przeżycia tej osoby.
            </li>
            <li>Natychmiast rozpocznij reanimację.
              <br></br>
              <img src="https://flipbook.nowaera.pl/dokumenty/Zasoby/resuscytacja-krazeniowo-oddechowa/assets/video/02_02_06.jpg" alt="pierwsza-pomoc">
            </li>
            <li>Połóż ręce na środku klatki piersiowej.  Uciskaj mocno na głębokość 5 cm i z częstotliwością 100/minutę  (nieco mniej niż 2 na sekundę).
            </li>
            <li>Po 30 uciśnięciach wykonaj dwa wdechy -  przyłóż szczelnie usta wokół ust poszkodowanego, jednocześnie zaciśnij nos poszkodowanego palcami.  Wdmuchuj powietrze jednostajnie, aż klatka piersiowa się uniesie, gdy klatka piersiowa opadnie, wykonaj następny oddech.
            </li>
            <li>Jeśli poszkodowany zaczyna reagować, porusza się, otwiera oczy, oddycha prawidłowo, przerwij resuscytację.
            </li>
            <li>Gdy z jakichś względów nie jesteś w stanie robić sztucznego oddychania, rób tylko masaż serca. Nie przerywaj go, aż do przyjazdu ratowników!
            </li>
          </ul>	<!-- Zamknięcie wykazu III poziomu -->
        </li>
      </ol>	<!-- Zamknięcie wykazu II poziomu -->
    </li>
  </ol>	<!-- Zamknięcie wykazu I poziomu -->

</article>
</html>