<!doctype html>
<html class="tutorial">

<head>
  <meta charset="UTF-8" />
  <title>Omdlenie</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>


<h1>Omdlenie</h1>
<img src="https://cdn.galleries.smcloud.net/t/galleries/gf-bS8B-giVD-WyAk_jak-rozpoznac-omdlenie-pierwsza-pomoc-664x442-nocrop.jpg"
     alt="omdlenie">

<hr>
<article>
  <header>
    <h3 id=header1>Czym jest oblenie?</h3>
    <p>Omdlenie to stan chwilowej utraty przytomności. Jest konsekwencją postępujących objawów zasłabnięcia.
      Powstaje pod wpływem czynników kardiologicznych, emocjonalnych i neurologicznych - na skutek chwilowego
      przerwania dopływu krwi do mózgu lub spadku ilości tlenu dostarczanego do mózgu. Charakteryzuje je gwałtowny
      początek, krótki czas trwania i samoistne całkowite ustąpienie. Zazwyczaj ma łagodny charakter, choć
      istnieje ryzyko poważnego urazu związanego z upadkiem podczas utraty przytomności.</p>
    <p>Stan przedomdleniowy charakteryzuje się niepełną utratą przytomności, obniżeniem napięcia mięśniowego i
      zachowaniem kontaktu słowno-logicznego. </p>
    <p class="firstRow">Wyróżnia się kilka rodzajów omdlenia:</p>
    <ol>
      <li>
        <p class="standardList">odruchowe - spowodowane przez strach, ból, fobie
        </p>
      </li>
      <li>
        <p class="standardList">sytuacyjne</p>
      </li>
      <li>
        <p class="standardList">wywołane mechanicznym uciskiem na zatokę tętnicy szyjnej
        </p>
      </li>
      <li>
        <p class="standardList">polekowe - mogą do niego doprowadzić m.in. leki rozszerzające naczynia oraz leki
          przeciwdepresyjne
        </p>
      </li>
      <li>
        <p class="standardList">kardiogenne - przez zaburzenia rytmu pracy serca - tachykardia, bradykardia
        </p>
      </li>
    </ol>
    <p>Istnieje wiele potencjalnych przyczyn omdlenia.</p>
    <p></p>
    <p>Objawy zwiastujące omdlenie to przede wszystkim ból i zawroty głowy, ogólne osłabienie, zaburzenia widzenia i
      słuchu, pocenie się oraz nudności. Do upadku dochodzi na skutek spadku napięcia mięśni. Typowy dla omdlenia
      jest brak reakcji na wołanie i potrząsanie. Omdlenia powinny zostać skonsultowane z lekarzem.</p>

    <h3 id="header2">Co zrobić w przypadku omdlenia?</h3>
    <ol>
      <li>
        <p class="standardList">Upewnij się, czy przestrzeń, w której znajduje się poszkodowany, jest
          bezpieczna.
        </p>
      </li>
      <li>
        <p class="standardList">Sprawdzić, czy osoba omdlała oddycha
        </p>
      </li>
      <li>
        <p class="standardList">Można unieść jej nogi do góry i rozluźnić kołnierz – w ten sposób poprawi się
          dopływ krwi do mózgu
        </p>
      </li>
      <li>
        <p class="standardList">wskazane jest pozostanie przez chwilę przy poszkodowanym – najlepiej, aby przez
          10–15 minut znajdował się on w pozycji leżącej
        </p>
      </li>
      <li>
        <p class="standardList">Po tym czasie może powoli usiąść, a jeśli nie ma zawrotów głowy – nawet wstać.
        </p>
      </li>
      <li>
        <p class="standardList">Gdy przez długi czas nie dochodzi do odzyskania świadomości, poszkodowanego
          należy ułożyć w bezpiecznej pozycji i wezwać pogotowie.
        </p>
      </li>
    </ol>
  </header>
</article>

</html>